<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.overflow.cash">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".activity.RootApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MenuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CreateStoreActivity"
            android:label="@string/create_store" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/register" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SaveProductActivity"
            android:label="@string/add_product"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ScannerActivity"
            android:label="" />

        <provider
            android:name=".account.AccountContentProvider"
            android:authorities="com.overflow.cash.provider"
            android:enabled="true"
            android:exported="false"/>

        <service android:name=".account.AccountAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".account.AccountSyncAdapterService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>

        <activity
            android:name=".activity.ProductDetailActivity"
            android:label="@string/product_detail" />
        <activity android:name=".activity.SalesOrderPreviewActivity" android:label="@string/transaction_detail" />
        <activity
            android:name=".activity.CustomerChooserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ReceiptActivity"
            android:label="" />
        <activity
            android:name=".activity.TransactionHistoryDetailActivity"
            android:label="@string/transaction_detail" />
        <activity
            android:name=".activity.CategoryListActivity"
            android:label="@string/edit_category" />
        <activity
            android:name=".activity.CustomerListAddActivity"
            android:label="@string/add_customer" />

        <activity
            android:name=".activity.PaymentOtherActivity"
            android:label="" />
        <activity android:name=".activity.PaymentTransactionDispatcherActivity"
            android:label="@string/pay" />

        <activity android:name=".activity.ViewSavedOrderActivity"
            android:label="@string/saved_transaction" />

        <activity android:name=".activity.CashboxHistoryDispatcherActivity"
            android:label="@string/cash_in_out" />

        <activity android:name=".activity.SaveCashHistoryActivity"
            android:label="@string/manage_cash" />
    </application>

</manifest>