<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
    <import resource="classpath:notification-intgr.xml"/>
    <import resource="classpath:transaction-intgr.xml"/>
    <import resource="classpath:hokkytronik-intgr.xml"/>
    <import resource="classpath:postpaid-intgr.xml"/>
</beans>
